.calculatorContainer{
  display: flex;
  flex-direction: column;
  height: 565px;
  width: 460px;
  background-color:lightblue;
  border-radius: 20px 20px 20px 20px;
}

.first-row{
  display:flex;
  flex-direction: row;
  margin-left:20px;

}

#clearbutton{
  display: flex;
  border:1px solid white;
  width:100px;
  height:100px;
  justify-content: center;
  align-items: center;
  font-size:24px;
  color: white;
  font-weight: bold;
  border-top-left-radius: 20px;
}

#window{
  border: 1px solid white;
  width:300px;
  height:100px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  border-top-right-radius: 20px;
}

.second-row{
  display:flex;
  flex-direction: row;
  margin-left:20px;
  margin-top: -48px;
}

p[class = button] {
  display: flex;
  border:1px solid white;
  width:100px;
  height:100px;
  justify-content: center;
  align-items: center;
  font-size:24px;
  color: white;
  font-weight: bold;
}

.third-row{
  display:flex;
  flex-direction: row;
  margin-left:20px;
  margin-top: -48px;
}

p[class = operator]{
  display: flex;
  border:1px solid white;
  width:98px;
  height:100px;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  font-size:24px;
  color: white;
  font-weight: bold;
}

.fourth-row{
  display:flex;
  flex-direction: row;
  margin-left:20px;
  margin-top:-48px;
}

.fifth-row{
  display:flex;
  flex-direction: row;
  margin-left:20px;
  margin-top:-48px;
}

.equalBtn{
  display: flex;
  border:1px solid white;
  width:100px;
  height:100px;
  justify-content: center;
  align-items: center;
  font-size:24px;
  color: white;
  font-weight: bold;
}

#0 {
  border-bottom-right-radius: 20px;
}
